@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200;400;517;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    width: 100%;
}
img{
    vertical-align: top;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
em,address{
    font-style: normal;
}
/* 디폴트로 들어가는 a태그의 하이퍼링크 밑줄과 글자색 바꾸는 코드 */
body{
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #333;
    word-break: keep-all
}
#container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* lnb와 contents사이의 50px를 오른쪽에서 사이로 낑구는 코드 */
}
.lnb{
    width: 250px;
}
.contents{
    width: calc(100% - 300px);
    background: url(../images/greetings_img.png)
    no-repeat right 200px;
}
.contents h3{
    font-size:  30px;
    border-bottom: 3px solid #000;
    padding: 0 0 30px;
}
.contents p{
    padding: 50px 0 0;
}
#footer{
    background: #333;
    color: #fff;
    display: flex;
    padding: 50px 0 100px;
}
#footer .inner{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#footer .footer_txt{
    text-align: right;
}
#footer address span{
    color: #689052;
}