@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR:wght@100;200;400;517;700;900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
}
img{
    vertical-align: top;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}

em,address{
    font-style: normal;
}
body{
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    line-height: 1.6;
    color: #333;
    word-break: keep-all
}

.inner{
    width: 1200px;
    margin: 0 auto;
}

#header{
    background: rgba(0,0,0,0.3);
    padding: 20px 0;
    position: absolute;
    width: 100%;
}
#header .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header .gnb{
    display:flex;
}
#header .gnb li a{
    display: block;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    color: #ffff
    ;
}
.sub_visual{
    background: url('../images/menu_intro_visual.jpg') no-repeat center 0;
    padding-bottom: 50px;
}
.sub_visual .sub_title{
    color: #fff;
    text-align: center;
    padding: 300px 0 200px;
}
.sub_visual .sub_title h2{
    font-size: 50px;
    font-weight: 400;
}
.sub_visual .sub_title p{
    font-size: 20px;
    text-transform: uppercase;
    /* 영어를 무조건 대문자로 변환 */
}
.sub_visual .lnb{
    display: flex;
    gap: 5px;
}
.sub_visual .lnb li{
    width: calc((100% - 25px) / 6);
}
.sub_visual .lnb li a{
    display: block;
    background: rgba(0,0,0,0.5);
    color: #fff;
    padding: 10px 20px;
    transition: all 0.5s;
}
.sub_visual .lnb li a:hover{
    background: #021F60;
}

.contents{
    padding: 100px 0;
}
.contents h3{
    text-align: center;
    font-size: 30px;
    background: url('../images/patten.jpg') repeat-x 0 center;
    margin-bottom: 50px;
}
.contents h3 span{
    background: #fff;
    display: inline-block;
    padding: 0 30px;
}
.contents .menu{
    display: flex;
    gap: 20px;
}
.contents .menu li{
    width: calc((100% - 60px) / 4);
    background: #eee;
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    position: relative;
}/* 엡솔루트의 기준 */
.contents .menu li .over{
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 100px 30px;
    font-size: 16px;
    opacity: 0;
    transition: all 0.5s;
}
.contents .menu li:hover .over{
    opacity: 1;
}
.contents .menu li .over a{
    display: inline-block;
    background: #fff;
    margin-top: 20px;
    padding: 10px 30px;
}
.contents .menu li img{
    max-width: 100%;
}
#footer{
    background:#333333;
    padding: 50px 0 100px;
}
#footer .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#footer .footer_txt address{
    color: #828182;
    padding: 10px 0;
}
#footer .footer_txt p{
    color: #5A5A5C;
}
.sns{
    display: flex;
    gap: 10px;
}

.gotop{
    position: fixed;
    right: 0;
    bottom: 300px;
}